################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ETicaretAPI/.vs/ETicaretAPI/FileContentIndex/5885bf47-3b88-4643-bc8a-fd3de4ae67bc.vsidx
/ETicaretAPI/.vs/ETicaretAPI/FileContentIndex/43b47665-c497-48bf-b1d8-a86306024487.vsidx
/ETicaretAPI/.vs/ETicaretAPI/FileContentIndex
/ETicaretAPI/.vs/ETicaretAPI/FileContentIndex/d1c37f11-ae57-42b7-b255-7665bbd6c23c.vsidx
/ETicaretAPI/.vs/ETicaretAPI/v17/.suo
/ETicaretAPI/.vs/ETicaretAPI/FileContentIndex/d1c37f11-ae57-42b7-b255-7665bbd6c23c.vsidx
